<!-- <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='youtubecss.comp'}"/> -->


<!-- /* YouTube Component */ -->

<sly data-sly-use.hello="actingreel.core.models.VideoModel" />

 <div class="card bg-dark text-center text-white">
 	<h1> Youtube Video </h1>
	<div class="embed-responsive embed-responsive-16by9">
		${hello.YoutubeObj.videohtml @ context='html'}
	</div>
  <div class="card-body">
    <h5 class="card-title">${hello.YoutubeObj.video_author_name}</h5>
    <p class="card-text">${hello.YoutubeObj.videotitle}</p>
  </div>
</div>