<!--/* /apps/ActingReel/components/structure/page/customheaderlibs.html */-->

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='ActingReel.dependencies'}"/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='ActingReel.base'}"/>


<!--/* Include Context Hub */-->
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
