<form data-sly-use.contact="actingreel.core.models.EmailContactModel" id="${contact.id}" class="container">
  <div class="row form-group">
    <label for="EmailContactEmail">Email Address</label>
    <input type="email" class="form-control" id="EmailContactEmail" placeholder="name@example.com">
  </div>
  <div class="row form-group">
    <label for="EmailContactTitle">Title</label>
    <input type="text" class="form-control" id="EmailContactTitle" placeholder="Project Opportunity..">
  </div>
  <div class="row form-group">
    <label for="EmailContactTextarea">Message</label>
    <textarea class="form-control" id="EmailContactTextArea" rows="3" placeholder="Hello Juliana, ..."></textarea>
  </div>
  <button class="btn btn-primary" id="submitEmailContact" type="submit">Submit</button>
  <div id="EmailContactResponse"></div>
</form>
