<form id="EmailContact" class="container">
  <div class="row form-group">
    <label for="EmailContactInput">Email address</label>
    <input type="email" class="form-control" id="EmailContactInput" placeholder="name@example.com">
  </div>
  <div class="row form-group">
    <label for="EmailContactTextarea">Message</label>
    <textarea class="form-control" id="EmailContactTextArea" rows="3"></textarea>
  </div>
  <button class="btn btn-primary" id="submitEmailContact" type="submit">Submit</button>
  <div id="EmailContactResponse"></div>
</form>