  <div data-sly-use.carousel="actingreel.core.models.CarouselModel" id="carouselControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carousel--img">
      
      <div data-sly-repeat="${carousel.items}" class="carousel-item">
        <img src="${item.string}" class="d-block w-100" alt="#"/>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
  <sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
